html{
	height: 100%;
}
@font-face {
	font-family: "naruto";
	src: url(njnaruto.ttf) format("truetype");
	font-weight: bold;
}
body{
	height: 100%;
	background-image: url("../images/KonohaVillage.jpg");
	background-repeat: repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	margin: 0;
	color: #fff;
	font-family: naruto, sans-serif;
}
h1,h2{
	background: -webkit-linear-gradient(#ff6600, #e60000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1{
	font-size: 72px;
}
h2{
	font-size: 50px;
}
.img-size{
	height: 300px;
	width: 400px;
}
.img-size:hover{
	border: solid 3px green;
	cursor: pointer;
}
.battle-img{
	height: 450px;
	width: 400px;
}
#battle-text{
	display: none;
	color: yellow;
	font-family: sans-serif;
}
.enemy-name{
	position: absolute;
	top:0;
	z-index: 5;
	width: 100%;
	font-size: 20px;
}
.enemy-health{
	position: absolute;
	bottom: 0;
	z-index: 5;
	width: 100%;
	font-size: 20px;
	font-family: sans-serif;
}
.battle-name{
	position: absolute;
	top:0;
	z-index: 5;
	width: 100%;
	font-size: 30px;
}
.battle-health{
	position: absolute;
	bottom: 0;
	z-index: 5;
	width: 100%;
	font-size: 30px;
	font-family: sans-serif;
}
.mute-btn{
	position: absolute;
	bottom: 0;
	top: auto;
	font-size: 30px;
}
.unmute-btn{
	position: absolute;
	bottom: 0;
	top: auto;
	font-size: 30px;
	display: none;
}
